@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
	background-color: rosybrown;
}

h1{
	color: black;
	background-color: rosybrown;
	border: 2px dashed #000;
    padding: 5px 5px 5px 5px;
	text-align: center;
	font-family: 'Press Start 2P', sans-serif; 
	text-shadow: 2px 2px 8px #ff0000;

	
}

p{
	font-family: 'Oswald', sans-serif;
	text-shadow: 2px 2px #000000
}

h2{
	text-align: center;
	font-family: 'Oswald', sans-serif;

}




a:hover{
	color: green;
}

a:active{
	color: red;
}

img{
border: 2px dashed #000;
margin-right: 100px;
margin-left: 75px;
padding: 5px 5px 5px 5px;
box-shadow: 5px 10px 8px 10px #888888;
}

img:hover{
	background: url("Poke_Ball.png");
	background-repeat: no-repeat;
	background-size: auto;
}

.first3{
	display: inline-block;
}

.second3{
	display: inline-block;
}

.third3{
	display: inline-block;
}

.fourth3{
	display: inline-block;
}

.fifth3{
	display: inline-block;
}

.sixth3{
	display: inline-block;
}